-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: algomeal_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `budget_logs`
--

DROP TABLE IF EXISTS `budget_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `budget_logs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `amount` decimal(10,2) NOT NULL,
  `category` varchar(50) NOT NULL,
  `description` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `budget_logs`
--

LOCK TABLES `budget_logs` WRITE;
/*!40000 ALTER TABLE `budget_logs` DISABLE KEYS */;
INSERT INTO `budget_logs` VALUES (1,2323.00,'Labor Costs','What','2026-04-09 20:27:31');
/*!40000 ALTER TABLE `budget_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `daily_meal_plans`
--

DROP TABLE IF EXISTS `daily_meal_plans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `daily_meal_plans` (
  `scheduled_date` date NOT NULL,
  `meal_a_recipe_id` varchar(10) NOT NULL,
  `meal_b_recipe_id` varchar(10) DEFAULT NULL,
  `is_served` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`scheduled_date`),
  KEY `meal_a_recipe_id` (`meal_a_recipe_id`),
  KEY `meal_b_recipe_id` (`meal_b_recipe_id`),
  CONSTRAINT `daily_meal_plans_ibfk_1` FOREIGN KEY (`meal_a_recipe_id`) REFERENCES `recipes` (`recipe_id`),
  CONSTRAINT `daily_meal_plans_ibfk_2` FOREIGN KEY (`meal_b_recipe_id`) REFERENCES `recipes` (`recipe_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `daily_meal_plans`
--

LOCK TABLES `daily_meal_plans` WRITE;
/*!40000 ALTER TABLE `daily_meal_plans` DISABLE KEYS */;
/*!40000 ALTER TABLE `daily_meal_plans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dietary_restrictions`
--

DROP TABLE IF EXISTS `dietary_restrictions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dietary_restrictions` (
  `restriction_id` int(11) NOT NULL AUTO_INCREMENT,
  `restriction_name` varchar(100) NOT NULL,
  `type` enum('Allergy','Religious') NOT NULL,
  PRIMARY KEY (`restriction_id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dietary_restrictions`
--

LOCK TABLES `dietary_restrictions` WRITE;
/*!40000 ALTER TABLE `dietary_restrictions` DISABLE KEYS */;
INSERT INTO `dietary_restrictions` VALUES (1,'Lactose Intolerance','Allergy'),(2,'Peanut Allergy','Allergy'),(3,'Shellfish Allergy','Allergy'),(4,'Soy','Allergy'),(5,'Eggs','Allergy'),(6,'Wheat / Gluten','Allergy'),(7,'Fish','Allergy'),(8,'Tree Nuts','Allergy'),(9,'Halal','Religious'),(12,'Sesame','Allergy'),(13,'Mustard','Allergy'),(14,'Molluscs','Allergy'),(15,'Celery','Allergy'),(16,'Red Meat-Free','Religious'),(17,'Non-Halal','Religious');
/*!40000 ALTER TABLE `dietary_restrictions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kitchen_documentation`
--

DROP TABLE IF EXISTS `kitchen_documentation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kitchen_documentation` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `photo_path` varchar(255) NOT NULL,
  `tagged_date` date DEFAULT NULL,
  `caption` varchar(255) DEFAULT '',
  `uploaded_by` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `uploaded_by` (`uploaded_by`),
  CONSTRAINT `kitchen_doc_ibfk_1` FOREIGN KEY (`uploaded_by`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kitchen_documentation`
--

LOCK TABLES `kitchen_documentation` WRITE;
/*!40000 ALTER TABLE `kitchen_documentation` DISABLE KEYS */;
/*!40000 ALTER TABLE `kitchen_documentation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `meal_plan`
--

DROP TABLE IF EXISTS `meal_plan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `meal_plan` (
  `plan_id` int(11) NOT NULL AUTO_INCREMENT,
  `student_id` varchar(20) DEFAULT NULL,
  `recipe_id` varchar(10) DEFAULT NULL,
  `scheduled_date` date NOT NULL,
  `actual_cost` decimal(5,2) NOT NULL,
  `feeding_status` enum('Served','Absent') DEFAULT 'Served',
  PRIMARY KEY (`plan_id`),
  KEY `recipe_id` (`recipe_id`),
  KEY `meal_plan_ibfk_1` (`student_id`),
  CONSTRAINT `meal_plan_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `student` (`student_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `meal_plan_ibfk_2` FOREIGN KEY (`recipe_id`) REFERENCES `recipes` (`recipe_id`)
) ENGINE=InnoDB AUTO_INCREMENT=4499 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `meal_plan`
--

LOCK TABLES `meal_plan` WRITE;
/*!40000 ALTER TABLE `meal_plan` DISABLE KEYS */;
/*!40000 ALTER TABLE `meal_plan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nutritional_record`
--

DROP TABLE IF EXISTS `nutritional_record`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `nutritional_record` (
  `record_id` int(11) NOT NULL AUTO_INCREMENT,
  `student_id` varchar(20) DEFAULT NULL,
  `created_by` int(11) DEFAULT NULL,
  `height` decimal(5,2) NOT NULL,
  `weight` decimal(5,2) NOT NULL,
  `bmi` decimal(4,2) DEFAULT NULL,
  `nutritional_status` varchar(20) DEFAULT NULL,
  `assessment_date` date NOT NULL,
  PRIMARY KEY (`record_id`),
  KEY `created_by` (`created_by`),
  KEY `nutritional_record_ibfk_1` (`student_id`),
  CONSTRAINT `nutritional_record_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `student` (`student_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `nutritional_record_ibfk_2` FOREIGN KEY (`created_by`) REFERENCES `users` (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=45 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nutritional_record`
--

LOCK TABLES `nutritional_record` WRITE;
/*!40000 ALTER TABLE `nutritional_record` DISABLE KEYS */;
/*!40000 ALTER TABLE `nutritional_record` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recipe_allergen_tags`
--

DROP TABLE IF EXISTS `recipe_allergen_tags`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `recipe_allergen_tags` (
  `recipe_id` varchar(10) NOT NULL,
  `restriction_id` int(11) NOT NULL,
  PRIMARY KEY (`recipe_id`,`restriction_id`),
  KEY `restriction_id` (`restriction_id`),
  CONSTRAINT `recipe_allergen_tags_ibfk_1` FOREIGN KEY (`recipe_id`) REFERENCES `recipes` (`recipe_id`) ON DELETE CASCADE,
  CONSTRAINT `recipe_allergen_tags_ibfk_2` FOREIGN KEY (`restriction_id`) REFERENCES `dietary_restrictions` (`restriction_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recipe_allergen_tags`
--

LOCK TABLES `recipe_allergen_tags` WRITE;
/*!40000 ALTER TABLE `recipe_allergen_tags` DISABLE KEYS */;
INSERT INTO `recipe_allergen_tags` VALUES ('REC003',17),('REC006',1),('REC006',3),('REC006',4),('REC007',6),('REC007',17),('REC008',4),('REC009',7),('REC010',4),('REC011',1),('REC011',8),('REC011',9),('REC012',12),('REC012',16),('REC012',17);
/*!40000 ALTER TABLE `recipe_allergen_tags` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recipe_ingredients`
--

DROP TABLE IF EXISTS `recipe_ingredients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `recipe_ingredients` (
  `ingredient_id` int(11) NOT NULL AUTO_INCREMENT,
  `recipe_id` varchar(10) DEFAULT NULL,
  `name` varchar(150) NOT NULL,
  `amount` varchar(50) DEFAULT NULL,
  `unit` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`ingredient_id`),
  KEY `recipe_id` (`recipe_id`),
  CONSTRAINT `recipe_ingredients_ibfk_1` FOREIGN KEY (`recipe_id`) REFERENCES `recipes` (`recipe_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=93 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recipe_ingredients`
--

LOCK TABLES `recipe_ingredients` WRITE;
/*!40000 ALTER TABLE `recipe_ingredients` DISABLE KEYS */;
/*!40000 ALTER TABLE `recipe_ingredients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recipe_instructions`
--

DROP TABLE IF EXISTS `recipe_instructions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `recipe_instructions` (
  `instruction_id` int(11) NOT NULL AUTO_INCREMENT,
  `recipe_id` varchar(10) DEFAULT NULL,
  `step_no` int(11) DEFAULT NULL,
  `instruction` text NOT NULL,
  PRIMARY KEY (`instruction_id`),
  KEY `recipe_id` (`recipe_id`),
  CONSTRAINT `recipe_instructions_ibfk_1` FOREIGN KEY (`recipe_id`) REFERENCES `recipes` (`recipe_id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=95 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recipe_instructions`
--

LOCK TABLES `recipe_instructions` WRITE;
/*!40000 ALTER TABLE `recipe_instructions` DISABLE KEYS */;
/*!40000 ALTER TABLE `recipe_instructions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recipes`
--

DROP TABLE IF EXISTS `recipes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `recipes` (
  `recipe_id` varchar(10) NOT NULL,
  `recipe_name` varchar(150) NOT NULL,
  `description` text DEFAULT NULL,
  `energy_kcal` int(11) NOT NULL,
  `protein_g` decimal(4,2) NOT NULL,
  `carbs_g` decimal(4,2) NOT NULL DEFAULT 0.00,
  `fat_g` decimal(4,2) NOT NULL DEFAULT 0.00,
  `base_cost_per_serving` decimal(5,2) NOT NULL,
  `prep_time` varchar(20) DEFAULT '20-30 mins',
  `servings` int(11) DEFAULT 1,
  `hex_color` varchar(7) DEFAULT '#3b82f6',
  PRIMARY KEY (`recipe_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recipes`
--

LOCK TABLES `recipes` WRITE;
/*!40000 ALTER TABLE `recipes` DISABLE KEYS */;
/*!40000 ALTER TABLE `recipes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `settings`
--

DROP TABLE IF EXISTS `settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `settings` (
  `setting_key` varchar(50) NOT NULL,
  `setting_value` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`setting_key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `settings`
--

LOCK TABLES `settings` WRITE;
/*!40000 ALTER TABLE `settings` DISABLE KEYS */;
INSERT INTO `settings` VALUES ('daily_budget_limit','25.00'),('total_allocated_budget','500000.00'),('total_daily_budget','100.00');
/*!40000 ALTER TABLE `settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student`
--

DROP TABLE IF EXISTS `student`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `student` (
  `student_id` varchar(20) NOT NULL,
  `last_name` varchar(50) NOT NULL,
  `first_name` varchar(50) NOT NULL,
  `sex` enum('Male','Female') NOT NULL,
  `birth_date` date NOT NULL,
  `grade_level` varchar(10) NOT NULL,
  `section` varchar(50) NOT NULL,
  `min_target_weight` decimal(5,2) DEFAULT 0.00,
  `max_target_weight` decimal(5,2) DEFAULT 0.00,
  `is_4ps_beneficiary` tinyint(1) DEFAULT 0,
  `deworming_status` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`student_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student`
--

LOCK TABLES `student` WRITE;
/*!40000 ALTER TABLE `student` DISABLE KEYS */;
/*!40000 ALTER TABLE `student` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `student_allergy_map`
--

DROP TABLE IF EXISTS `student_allergy_map`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `student_allergy_map` (
  `student_id` varchar(20) NOT NULL,
  `restriction_id` int(11) NOT NULL,
  PRIMARY KEY (`student_id`,`restriction_id`),
  KEY `restriction_id` (`restriction_id`),
  CONSTRAINT `student_allergy_map_ibfk_1` FOREIGN KEY (`student_id`) REFERENCES `student` (`student_id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `student_allergy_map_ibfk_2` FOREIGN KEY (`restriction_id`) REFERENCES `dietary_restrictions` (`restriction_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `student_allergy_map`
--

LOCK TABLES `student_allergy_map` WRITE;
/*!40000 ALTER TABLE `student_allergy_map` DISABLE KEYS */;
INSERT INTO `student_allergy_map` VALUES ('123123',6),('123123',7),('123123',13),('13123213',2),('13123213',3),('13123213',5),('13123213',13),('LRN-001',1),('LRN-001',2),('LRN-001',3),('LRN-002',1),('LRN-002',2),('LRN-003',2),('LRN-005',3),('LRN-006',9);
/*!40000 ALTER TABLE `student_allergy_map` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `user_id` int(11) NOT NULL AUTO_INCREMENT,
  `faculty_name` varchar(100) NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `role` enum('Admin','Faculty') NOT NULL,
  PRIMARY KEY (`user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping routines for database 'algomeal_db'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-13  6:42:19
